<footer class="m-5">
    <div class=" d-md-flex py-4 bg-secondary ">

      <div class="me-md-auto text-center text-md-start offset-4 text-warning p-3 " style="border:none ;">
        <div class="copyright  text-white">
          &copy; Copyright <strong><span>Hunger Prediction </span></strong>. All Rights Reserved
        </div>
        <div class="credits offset-1">
          website created by <a class="text-info" href="#">Sydney Kipchirchir Rotich</a>
        </div>
        <div class="credits offset-3">
          REG NO: <a class="text-white" href="">B141/18085/2019</a>
        </div>
      </div>
      
    
    <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
    </div>
</footer>

<!-- End Footer -->