{% load static %}

<style>
  #nav {
    color: White;
    font-family: 'Times New Roman', Times, serif;

  }
</style>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing_page' %}">
      <p class=" text-warning bi bi-activity"> Hunger Predictions</p>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index_page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'visualizations' %}">Visualizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'results_page' %}">All Predictions</a>
        </li>
        <li class="nav-item dropdown">
          <!-- <img style="" src="{% static 'assets/img/activity.svg' %}" alt=""> -->
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-warning">{{request.user.username}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {% else %}

    {% endif %}
  </div>
</nav>

