{% load static %}
<!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 70vh;">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2><span>Welcome to Chi-Square Connections,</span></h2>
              <p>
we are the connection you need when hiring contract/temporary staff. Whether you need contract/temporary talent for busy periods, seasonal peaks, employee absences or special projects Chi- Square Connections has you covered.

              </p>
             
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>VISION STATEMENT</h2>
              <p>Our vision is to be the best temporary/contract placement service providers in Kenya and beyond portraying professional excellence, and securing continuous growth for our customers and employees.</p>
             
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>MISSION STATEMENT</h2>
              <p>Our mission is to assist our clients optimize their businesses by delivering appropriate client support on time and within budget, whilst recruiting and retaining the best talent.</p>
             
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section>
  
  <!-- End Hero -->