{% extends 'partials/base.html' %}
{% block content %} 
{% block title %} home page {% endblock %}
<body>

  <!-- ======= Header ======= -->
  {% include 'partials/navbar.html' %}

  <!-- =======  end Header ======= -->
  
 

  <main id="main">
    <h3>This is the employer page</h3>
    <!-- ======= About Us Section ======= -->
    
    <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    
  
    <!-- End Services Section -->
    
    <!-- ======= Portfolio Section ======= -->
    
    <!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    
    <!-- End Our Clients Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  


  {% endblock %}
</body>

